a {
    text-decoration: none;
}

.button {
    border: 0.0625em solid black;
    border-radius: 0.25em;
    color: #0000ff;
    background-color: white;
    padding: 0.125em 0.25em 0.125em 0.25em;
}

.button:hover {
    background-color: #cccccc;
}

.bottom.button {
    display: inline-block;
    margin: 0 0.3125em 0 0;
}