body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#header {
    order: 0;
    padding: 0.5em 0 0 0.5em;
    background: white;
    border-bottom: 2px solid black;
    width: 100%;
}

/*  
    All properties below this point have to do with parts of the 
    page below the header.
*/

.body {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    order: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.body_container {
    position: relative;
    height: 100%;
}

/* These properties have to do with the scrolling sidebar. */

.sidebar {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 35vw;
    min-width: 15em;
    padding-bottom: 1em;
}

.box {
    padding-bottom: 5px;
}

#bookmark_list {
    vertical-align: top;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    max-width: 20em;
}

#bookmarks {
    display: flex;
    flex-direction: column;
    order: 2;
}

#sidebar_padding {
    margin-bottom: 1em;
}

/* These properties have to do with the Google Slides iframe. */

.content {
    width: 100%;
    margin-right: 1em;
}

#slide_frame_div {
    order: 3;
}

#slide_frame {
    height: 100%;
    width: 100%;
}

.aspect-ratio {
    position: relative;
    max-width: 100%;
    height: auto;
}

.aspect-ratio>* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 83vh;
}

.aspect-ratio-16-9 {
    padding-top: 56.25% !important;
}